# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/

# Uploaded files (temporary local uploads before Cloudinary)
uploads/*
!uploads/.gitkeep